name: cd

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"
    paths:
      - "src/AntiLdapInjection/AntiLdapInjection.csproj"
  release:
    types:
      - created
  workflow_dispatch:

env:
  DOTNET_NOLOGO: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true

jobs:
  publish:
    name: Push package to NuGet.org
    if: ${{ github.event_name != 'pull_request' }}
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout Git repository
        uses: actions/checkout@main

      - name: Setup .NET
        uses: actions/setup-dotnet@main
        with:
          global-json-file: global.json

      - name: Restore dependencies
        run: dotnet restore

      - name: Build project
        run: dotnet build --configuration Release --no-restore

      - name: Run tests
        run: dotnet test --no-build --configuration Release --verbosity normal

      - name: NuGet login
        uses: NuGet/login@v1
        id: login
        with:
          user: ${{ secrets.NUGET_USER }}

      - name: Create NuGet packages
        run: dotnet pack src/AntiLdapInjection/AntiLdapInjection.csproj --output artifacts/nuget-packages --configuration Release --no-build

      - name: Push NuGet packages
        run: dotnet nuget push artifacts/nuget-packages/*.* --api-key ${{ steps.login.outputs.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json
