name: ci

on:
  push:
    branches: [main]
    tags-ignore:
      - '*'
  pull_request:
    branches: [main]
    paths-ignore:
      - '**.md'
      - '.editorconfig'
      - 'docs/**'
  workflow_dispatch:

env:
  DOTNET_NOLOGO: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true

jobs:
  build:
    name: ${{ matrix.platform }} build
    runs-on: ${{ matrix.platform }}

    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - name: Checkout Git repository
        uses: actions/checkout@main

      - name: Setup .NET
        uses: actions/setup-dotnet@main
        with:
          global-json-file: global.json

      - name: Build and test
        run: |
          dotnet restore
          dotnet build --configuration Release --no-restore
          dotnet test --configuration Release --verbosity minimal --no-build

  code-ql:
    name: code-ql analysis
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    strategy:
      fail-fast: false
      matrix:
        language: ['csharp']

    steps:
      - name: Checkout Git repository
        uses: actions/checkout@main

      - name: Setup .NET
        uses: actions/setup-dotnet@main
        with:
          global-json-file: global.json

      - name: Initialize CodeQL
        uses: github/codeql-action/init@main
        with:
          languages: ${{ matrix.language }}

      - name: Restore dependencies
        run: dotnet restore --verbosity normal

      - name: Build
        run: dotnet build --no-restore /p:UseSharedCompilation=false

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@main

  dev-skim:
    name: dev skim analysis
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    steps:
      - name: Checkout Git repository
        uses: actions/checkout@main

      - name: Run DevSkim scanner
        uses: microsoft/DevSkim-Action@main
        with:
          directory-to-scan: src
          extra-options: '--console-verbosity Verbose'

      - name: Upload DevSkim scan results to GitHub security
        uses: github/codeql-action/upload-sarif@main
        with:
          sarif_file: devskim-results.sarif
